<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Common CSS Fragment -->
    <th:block th:fragment="commonCss">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title>Spring MVC </title>
</head>
<body>
<!-- Header Fragment -->
<th:block th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/variable-expression}">User Controller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/checkout}">Checkout</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Section 6 Form
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/showForm}">Hello World Form</a></li>
                                <li><a class="dropdown-item" th:href="@{/userForm}">User Validation Form</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</th:block>

<!-- Footer Fragment -->
<th:block th:fragment="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/static" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
    </footer>
</th:block>

<!-- Common JavaScript Fragment -->
<th:block th:fragment="commonJs">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</th:block>
</body>
</html>
