<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Include the CSS fragment -->
    <th:block th:replace="~{/layout/fragments :: commonCss}"></th:block>
</head>
<body>


<main>
    <!-- Include the header fragment -->
    <th:block th:replace="~{/layout/fragments :: header}"></th:block>
    <div class="col-lg-6 mx-auto mt-3 justify-content-center">
        <h2 class="m-5">Convert you name to uppercase using Request Param</h2>

        <h3 class="">
            <span th:text="${convertedName}" class="badge rounded-pill text-bg-success">

            </span>
        </h3>

    </div>

    <!-- Include the footer fragment -->
    <th:block th:replace="~{/layout/fragments :: footer}"></th:block>
</main>

<!-- Include the JavaScript fragment -->
<th:block th:replace="~{layout/fragments :: commonJs}"></th:block>
</body>
</html>